[Desktop Entry]
Name=GMod Content Wizard
GenericName=Content installer for Garry's Mod
Comment=Install Garry's Mod content like maps and models
Exec=GmodContentInstaller
Type=Application
Categories=Utility;
Terminal=false
Icon=GModContentWizard
Keywords=gmod;garry;mod;maps;content;download;installer;