[Desktop Entry]
Name=GMod Content Wizard
GenericName=Content installer for Garry's Mod
Comment=Install Garry's Mod content like maps and models
Exec=GModContentWizard.bin
Type=Application
Categories=Utility;
Terminal=false
Icon=com.serpensin.gmodcontentwizard
Keywords=gmod;garry;mod;maps;content;download;installer;